header{
	width: 1000px;
	height: 78px;
	margin: 0 auto;
	line-height: 78px;
}
header .logo a{
	width: 153px;
	height: 37px;
	float: left;
	background-image: url(../img/logo.png);
	margin-top: 20px;
}
header ul{
	float: right;
}
header ul li{
	float: left;
	padding-left: 34px;
	height: 78px;/*给li设定高度，再调整a的字体大小，避免顶了nav的元素*/
}
header ul li a{
	color: #777777;
	font-size: 14px;/*给li设定高度，再调整a的字体大小，避免顶了nav的元素*/
}
header ul li a:hover{
	color: #fff;
	background-color: #777777;
}
nav{
	width: 100%;
	height: 55px;
	background-color: #2c323b;
}
nav .box{
	width: 1000px;
	height: 55px;
	margin: 0 auto;
	line-height: 55px;
}
nav .box a{
	color: #dddddd;
}
nav .box .left_nav{
	float: left;
}
nav .box .left_nav li{
	float: left;
	padding: 0 30px;
}
nav .box .left_nav li:nth-of-type(4) a:after{
	content: ">";
	display: inline-block;/*要转为行内块元素*/
	transform: translateY(3px) translateX(3px) scaleX(1.2) rotate(90deg);
}
nav .box .left_nav li:hover{
	background-color: #0c8ed9;
}
nav .box .right_nav{
	float: right;
}
nav .box .right_nav li{
	float: left;
	height: 55px;
	font-size: 14px;
	padding-left: 27px;
}
nav .box .right_nav li i{
	width: 13px;
	height: 12px;
	display: inline-block;
	background-image: url(../img/sprites.png);
}
nav .box .right_nav li:nth-of-type(2) i{
	background-position: 0 -12px;
}
nav .box .right_nav li:nth-of-type(3) i{
	background-position: 0 -24px;
}
nav .box .right_nav li:nth-of-type(4) i{
	background-position: 0 -36px;
}
nav .box .right_nav li:nth-of-type(5) i{
	background-position: 0 -48px;
}
.banner{
	width: 100%;
	height: 445px;
	position: relative;
}
.banner>ul>li:nth-of-type(1)>a{
	width: 100%;
	height: 445px;
	display: block;
	background-image: url(../img/banner1.PNG);
	background-size: 100%;/*cover响应不了*/
	margin: 0 auto;
	animation: lb 5S ease infinite;
}
@keyframes lb{
	0%{background-image: url(../img/banner1.PNG);}
	50%{background-image: url(../img/banner.PNG);}
}
.banner .downloadlist{
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0,0.5);
	line-height: 60px;
	position: absolute;
	top: 385px;
}
.banner .downloadlist ul{
	width: 850px;
	margin: 0 auto;
}
.banner .downloadlist ul li{
	float: left;
	padding: 0 60px;
	margin: 0 auto;
}
.banner .downloadlist ul li a{
	color: #efefef;
}
.banner .downloadlist ul li a i{
	width: 24px;
	height: 26px;
	display: inline-block;
	background-image: url(../img/sprites2.png);
	margin-right: 10px;
	margin-bottom: -7px;
}
.banner .downloadlist ul li:nth-of-type(1) a i{
	background-position: 0 0;
}
.banner .downloadlist ul li:nth-of-type(2) a i{
	background-position: 0 -26px;
}
.banner .downloadlist ul li:nth-of-type(3) a i{
	background-position: 0 -52px;
}
section .content1{
	width: 1000px;
	height: 425px;
	margin: 0 auto;
}
section .content1 .left{
	width: 650px;
	height: 425px;
	float: left;
}
section .content1 .left>p{
	width: 650px;
	height: 100px;
	line-height: 100px;
}
section .content1 .left>p span:nth-of-type(1){
	float: left;
	font-size: 28px;
	color: #009bf2;
}
section .content1 .left>p span:nth-of-type(2){
	float: left;
	font-size: 28px;
	color: #555555;
}
section .content1 .left>p span:nth-of-type(3){
	float: right;
	font-size: 12px;
	color: #999999;
}
section .content1 .left .big_box{
	width: 650px;
	height: 325px;
	color: #fff;
	font-size: 14px;
	box-sizing: border-box;
}
section .content1 .left .big_box .box{
	background-size: 100%;
	position: relative;
	float: left;
}
section .content1 .left .big_box .box1{
	width: 325px;
	height: 325px;
	background-image: url(../img/content1.jpg);
}
section .content1 .left .big_box .box2{
	width: 160px;
	height: 160px;
	background-image: url(../img/content2.jpg);
}
section .content1 .left .big_box .box3{
	width: 155px;
	height: 160px;
	background-image: url(../img/content3.jpg);
}
section .content1 .left .big_box .box4{
	width: 160px;
	height: 160px;
	background-image: url(../img/content4.jpg);
}
section .content1 .left .big_box .box5{
	width: 155px;
	height: 160px;
	background-image: url(../img/content5.jpg);
}
section .content1 .left .big_box .box p:nth-of-type(1){
	width: 80px;
	height: 30px;
	line-height: 30px;
	background-image: linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0));
	float: right;
}
section .content1 .left .big_box .box p:nth-of-type(1) i{
	width: 13px;
	height: 12px;
	display: inline-block;
	background-image: url(../img/sprites.png);
	background-position: 0 -24px;
}
section .content1 .left .big_box .box p:nth-of-type(2){
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	padding: 5px 0 0 8px;
	box-sizing: border-box;
}
section .content1 .left .big_box .box1 p:nth-of-type(2){
	width: 325px;
	height: 50px;
	top: 275px;
}
.big_box .box2 p:nth-of-type(2),.big_box .box4 p:nth-of-type(2){
	width: 160px;
	height: 50px;
	top: 110px;
}
.big_box .box3 p:nth-of-type(2),.big_box .box5 p:nth-of-type(2){
	width: 155px;
	height: 50px;
	top: 110px;
}
section .content1 .left .big_box .box p:nth-of-type(2) span:nth-of-type(2){
	color: #cfcfcf;
}
.box2,.box3,.box4,.box5{
	margin: 0 0 5px 5px;
}
section .content1 .right{
	width: 320px;
	height: 425px;
	float: right;
}
section .content1 .right>p{
	width: 320px;
	height: 100px;
	line-height: 100px;
}
section .content1 .right>p span:nth-of-type(1){
	float: left;
	font-size: 28px;
	color: #009bf2;
}
section .content1 .right>p span:nth-of-type(2){
	float: left;
	font-size: 28px;
	color: #555555;
}
section .content1 .right>p span:nth-of-type(3){
	float: right;
	font-size: 12px;
	color: #999999;
}
section .content1 .right .frist,section .content1 .right .second,section .content1 .right .third{
	width: 320px;
	height: 98px;
	background-color: #f6f6f6;
	margin-bottom: 15px;
}
section .content1 .right i{
	width: 98px;
	height: 98px;
	display: block;
	background-size: 100%;
	float: left;
}
section .content1 .right .frist i{
	background-image: url(../img/content6.jpg);
}
section .content1 .right .second i{
	background-image: url(../img/content7.jpg);
}
section .content1 .right .third i{
	background-image: url(../img/content8.jpg);
}
section .content1 .right ul{
	width: 188px;
	height: 98px;
	float: left;
	font-size: 14px;
	padding: 15px 0 0 10px;
	box-sizing: border-box;
}
section .content1 .right ul li:nth-of-type(2) a,section .content1 .right ul li:nth-of-type(3) a{
	color: #555555;
}
section .content1 .right>div{
	position: relative;
}
section .content1 .right>div>p{
	position: absolute;
	top: 38px;
	left: 303px;
}
section .content1 .right>div>p>a{
	color: #acacac;
}
section .banner1 a{
	width: 1000px;
	height: 80px;
	display: block;
	background-image: url(../img/bbanner1.jpg);
	background-size: 100%;
	margin: 15px auto 22px;
}
.content2{
	width: 1000px;
	height: 389px;
	margin: 0 auto;
}
.content2 .left{
	width: 650px;
	height: 389px;
	float: left;
}
.content2 .left>.top{
	width: 650px;
	height: 68px;
	line-height: 68px;
	border-bottom: 1px solid #f0f0f0;
}
.content2 .left>.top a:nth-of-type(1) span:nth-of-type(1){
	float: left;
	font-size: 28px;
	color: #009bf2;
}
.content2 .left>.top>a span:nth-of-type(2){
	float: left;
	font-size: 28px;
	color: #555555;
}
.content2 .left>.top ul{
	width: 208px;
	height: 68px;
	margin-left: 16px;
	float: left;
}
section .content2 .left>.top ul li{
	width: 52px;
	height: 68px;
	padding: 0 12px;
	box-sizing: border-box;
	float: left;
}
section .content2 .left>.top ul li a{
	font-size: 14px;
}
section .content2 .left>.top ul li a:hover{
	color: #009af3;
}
.content2 .left>.top>input{
	width: 79px;
	height: 29px;
	color: #555555;
	border: 1px solid #dbdbdb;
	background-color: transparent;
	float: right;
	margin-top: 18px;
}
.content2 .left>ul{
	width: 650px;
	height: 291px;
	padding-top: 11px;
	box-sizing: border-box;
}
.content2 .left>ul li{
	width: 650px;
	height: 36px;
	line-height: 36px;
}
.content2 .left>ul li a span:nth-of-type(1){
	float: left;
}
.content2 .left>ul li a span:nth-of-type(2){
	float: right;
}
.content2 .left i{
	font-size: 12px;
	color: #a98d9b;
	width: 61px;
	height: 12px;
	display: block;
	margin: 0 auto;
	padding: 5px;
}
.content2 .left i a{
	color: #a98d9b;
}
.content2 .right{
	width: 320px;
	height: 389px;
	float: right;
}
.content2 .right>p{
	width: 320px;
	height: 69px;
	line-height: 69px;
}
.content2 .right>p span:nth-of-type(1){
	float: left;
	font-size: 28px;
	color: #009bf2;
}
.content2 .right>p span:nth-of-type(2){
	float: left;
	font-size: 28px;
	color: #555555;
}
.content2 .right>p span:nth-of-type(3){
	float: right;
	font-size: 12px;
	color: #999999;
}
.content2 .right .frist1{
	width: 320px;
	height: 174px;
	background-image: url(../img/content9.jpg);
	margin-bottom: 12px;
	position: relative;
}
.content2 .right .second1{
	width: 154px;
	height: 84px;
	background-image: url(../img/content10.jpg);
	float: left;
	position: relative;
}
.content2 .right .third1{
	width: 154px;
	height: 84px;
	background-image: url(../img/content11.jpg);
	float: left;
	margin-left: 12px;
	position: relative;
}
.content2 .right .frist1 p,.content2 .right .second1 p,.content2 .right .third1 p{
	position: absolute;
	padding: 2px 0 0 8px;
	box-sizing: border-box;
}
.content2 .right .frist1 p{
	width: 320px;
	height: 50px;
	top: 124px;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
}
.content2 .right .second1 p,.content2 .right .third1 p{
	width: 154px;
	height: 50px;
	top: 84px;
}
section .banner2 a{
	width: 1000px;
	height: 100px;
	display: block;
	background-image: url(../img/bbanner2.jpg);
	background-size: 100%;
	margin: 44px auto 0px;
}
.content3{
	width: 1000px;
	height: 410px;
	margin: 0 auto;
}
.content3 .left{
	width: 650px;
	height: 410px;
	float: left;
}
.content3 .left>p{
	width: 650px;
	height: 100px;
	line-height: 100px;
}
.content3 .left>p span:nth-of-type(1){
	float: left;
	font-size: 28px;
	color: #009bf2;
}
.content3 .left>p span:nth-of-type(2){
	float: left;
	font-size: 28px;
	color: #555555;
}
.content3 .left>p span:nth-of-type(3){
	float: right;
	font-size: 12px;
	color: #999999;
}
.content3 .left>ul{
	width: 650px;
	height: 310px;
}
.content3 .left>ul>li{
	width: 100px;
	height: 155px;
	float: left;
}
.content3 .left>ul>li i{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: block;
	background-size: 100%;
}
.content3 .left>ul>li:nth-of-type(1){
	margin-right: 37px;
}
.content3 .left>ul>li:nth-of-type(2){
	margin-right: 37px;
}
.content3 .left>ul>li:nth-of-type(3){
	margin-right: 37px;
}
.content3 .left>ul>li:nth-of-type(4){
	margin-right: 37px;
}
.content3 .left>ul>li:nth-of-type(6){
	margin-right: 37px;
}
.content3 .left>ul>li:nth-of-type(7){
	margin-right: 37px;
}
.content3 .left>ul>li:nth-of-type(8){
	margin-right: 37px;
}
.content3 .left>ul>li:nth-of-type(9){
	margin-right: 37px;
}
.content3 .left>ul>li:nth-of-type(1) i{
	background-image: url(../img/radio_1.jpg);
}
.content3 .left>ul>li:nth-of-type(2) i{
	background-image: url(../img/radio_2.jpg);
}
.content3 .left>ul>li:nth-of-type(3) i{
	background-image: url(../img/radio_3.jpg);
}
.content3 .left>ul>li:nth-of-type(4) i{
	background-image: url(../img/radio_4.jpg);
}
.content3 .left>ul>li:nth-of-type(5) i{
	background-image: url(../img/radio_5.jpg);
}
.content3 .left>ul>li:nth-of-type(6) i{
	background-image: url(../img/radio_6.jpg);
}
.content3 .left>ul>li:nth-of-type(7) i{
	background-image: url(../img/radio_7.jpg);
}
.content3 .left>ul>li:nth-of-type(8) i{
	background-image: url(../img/radio_8.jpg);
}
.content3 .left>ul>li:nth-of-type(9) i{
	background-image: url(../img/radio_9.jpg);
}
.content3 .left>ul>li:nth-of-type(10) i{
	background-image: url(../img/radio_10.jpg);
}
.content3 .left>ul>li span{
	width: 100px;
	height: 42px;
	line-height: 42px;
	display: block;
	text-align: center;
}
.content3 .right{
	width: 320px;
	height: 410px;
	float: right;
	position: relative;
}
.content3 .right>.top{
	width: 320px;
	height: 100px;
	line-height: 100px;
}
.content3 .right>.top>a:nth-of-type(1) span:nth-of-type(1){
	float: left;
	font-size: 28px;
	color: #009bf2;
}
.content3 .right>.top>a:nth-of-type(1) span:nth-of-type(2){
	float: left;
	font-size: 28px;
	color: #555555;
}
.content3 .right>.top ul{
	width: 144px;
	height: 100px;
	margin-left: 16px;
	float: left;
}
.content3 .right>.top ul li{
	width: 48px;
	height: 68px;
	padding: 0 10px;
	box-sizing: border-box;
	float: left;
}
.content3 .right>.top ul li a{
	font-size: 14px;
}
.content3 .right>.top ul li a:hover{
	color: #009af3;
}
.content3 .right>.top>a:nth-of-type(2){
	font-size: 12px;
	color: #999999;
	float: right;
}
.content3 .right>ul{
	width: 320px;
	height: 270px;
}
.content3 .right>ul>li{
	float: left;
}
.content3 .right>ul>li:nth-of-type(1) a{
	width: 160px;
	height: 160px;
	display: block;
	background-image: url(../img/star1.jpg);
	background-size: cover;
	margin: 0 5px 5px 0;
}
.content3 .right>ul>li:nth-of-type(2) a{
	width: 155px;
	height: 160px;
	display: block;
	background-image: url(../img/star2.jpg);
	background-size: cover;
	margin: 0 0 5px 0;
}
.content3 .right>ul>li:nth-of-type(3) a{
	width: 105px;
	height: 105px;
	display: block;
	background-image: url(../img/star3.jpg);
	background-size: 100%;
	margin: 0 5px 0 0;
}
.content3 .right>ul>li:nth-of-type(4) a{
	width: 105px;
	height: 105px;
	display: block;
	background-image: url(../img/star4.jpg);
	background-size: 100%;
	margin: 0 5px 0 0;
}
.content3 .right>ul>li:nth-of-type(5) a{
	width: 100px;
	height: 105px;
	display: block;
	background-image: url(../img/star5.jpg);
	background-size: 100%;
}
.content3 .right>ul>li a{
	position: relative;
}
.content3 .right>ul>li span{
	font-size: 14px;
	color: #fff;
	position: absolute;
	bottom: 12px;
	left: 8px;
}
.content3 .right>p{
	position: absolute;
	bottom: 15px;
	left: 142px;
}
.content3 .right>p>i{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	display: block;
	background-color: #cccccc;
	float: left;
	margin-right: 14px;
}
.content3 .right>p>i:hover{
	background-color: #009af3;
}
section .banner3 a{
	width: 1000px;
	height: 100px;
	display: block;
	background-image: url(../img/bbanner3.jpg);
	background-size: 100%;
	margin: 25px auto 0px;
}
.content4{
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}
.content4 .partner{
	width: 1000px;
	height: 100px;
	line-height: 100px;
}
.content4 .friendLink{
	width: 1000px;
	height: 103px;
	line-height: 103px;
}
.content4 p span:nth-of-type(1){
	float: left;
	font-size: 28px;
	color: #009bf2;
}
.content4 p span:nth-of-type(2){
	float: left;
	font-size: 28px;
	color: #555555;
}
.content4 p span:nth-of-type(3){
	float: right;
	font-size: 12px;
	color: #999999;
}
.content4 .partner_2{
	width: 1000px;
	height: 209px;
}
.content4 .partner_2 li a{
	width: 130px;
	height: 58px;
	display: block;
	border: 1px dashed #cccccc;
	float: left;
	background-size: cover;
}
.content4 .partner_2 li:nth-of-type(1) a{
	background-image: url(../img/partner01.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(2) a{
	background-image: url(../img/partner02.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(3) a{
	background-image: url(../img/partner03.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(4) a{
	background-image: url(../img/partner04.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(5) a{
	background-image: url(../img/partner05.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(6) a{
	background-image: url(../img/partner06.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(7) a{
	background-image: url(../img/partner07.jpg);
}
.content4 .partner_2 li:nth-of-type(8) a{
	background-image: url(../img/partner08.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(9) a{
	background-image: url(../img/partner09.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(10) a{
	background-image: url(../img/partner10.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(11) a{
	background-image: url(../img/partner11.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(12) a{
	background-image: url(../img/partner12.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(13) a{
	background-image: url(../img/partner13.jpg);
	margin: 0 12px 12px 0;
}
.content4 .partner_2 li:nth-of-type(14) a{
	background-image: url(../img/partner14.jpg);
}
.content4 .partner_2 li:nth-of-type(15) a{
	background-image: url(../img/partner15.jpg);
	margin: 0 12px 0 0;
}
.content4 .partner_2 li:nth-of-type(16) a{
	background-image: url(../img/partner16.jpg);
	margin: 0 12px 0 0;
}
.content4 .partner_2 li:nth-of-type(17) a{
	background-image: url(../img/partner17.jpg);
	margin: 0 12px 0 0;
}
.content4 .partner_2 li:nth-of-type(18) a{
	background-image: url(../img/partner18.jpg);
	margin: 0 12px 0 0;
}
.content4 .partner_2 li:nth-of-type(19) a{
	background-image: url(../img/partner19.jpg);
	margin: 0 12px 0 0;
}
.content4 .partner_2 li:nth-of-type(20) a{
	background-image: url(../img/partner20.jpg);
	margin: 0 12px 0 0;
}
.content4 .partner_2 li:nth-of-type(21) a{
	background-image: url(../img/partner21.jpg);
}
.content4 .friendLink_2{
	width: 1000px;
	height: 88px;
}
.content4 .friendLink_2 li a{
	width: 125px;
	height: 44px;
	display: block;
	float: left;
	font-size: 14px;
	color: #555555;
}
footer{
	width: 100%;
	height:259px;
	background-color: #2c323b;
	margin-top: 14px;
}
footer ul{
	width: 776px;
	height: 48px;
	line-height: 48px;
	margin: 0 auto;
}
footer ul li{
	float: left;
	color: #b1b3b9;
}
footer ul li a{
	padding: 0 10px;
	box-sizing: border-box;
	font-size: 12px;
	color: #b1b3b9;
	position: relative;
}
footer ul li a:after{
	content: " ";
	width: 1px;
	height: 13px;
	display: inline-block;
	background-color: #93b39d;
	position: absolute;
	right: 0;
	top: 2px;
}
footer ul li:nth-of-type(10) a:after{
	content: " ";
	width: 0;
	height: 0;
	display: block;
}
footer div{
	border-top: 1px solid rgba(255,255,255,0.5);
	color: #b1b3b9;
	font-size: 14px;
	text-align: center;
	padding-top: 32px;
	line-height: 32px;
}
